# add here your mnemonic with the wallet that has balance on mesos or devnet (whatever env you will use)
ZERO_MNEMONIC='suspect spider hair betray program virtual canyon midnight doll debris drift express obey pause dose method link absorb diet movie survey fly face fault'
