# add here your mnemonic with the wallet that has balance on mesos or devnet (whatever env you will use)
ZERO_MNEMONIC='betray acquire carry voice jewel body receive visit business deputy mixture grid jacket three attract cabbage airport wish sample paddle width exhibit raise tiny'
